{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>Spotlight - Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="shortcut icon" type="images/jpg" href="{% static 'img/icon-logo.jpg' %}">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #e9ecef;
        }
    </style>
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar closed" id="sidebar">
      {% include 'pages/partials/sidebar.html' %}
    </div>

    <!-- Main content -->
    <div class="main-content fullwidth" id="main-content">
        <!-- Hamburger button outside the sidebar -->
        <i class="fas fa-bars hamburger-btn outside" id="hamburger-btn-outside"></i>
        
        <div class="container-fluid">
          {% block content %}
          {% endblock %}
        </div>
    </div>

    <!-- JavaScript -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/orderPage.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const sidebar = document.getElementById('sidebar');
            const mainContent = document.getElementById('main-content');
            const hamburgerBtnInside = document.getElementById('hamburger-btn-inside');
            const hamburgerBtnOutside = document.getElementById('hamburger-btn-outside');

            function toggleSidebar() {
                sidebar.classList.toggle('closed');
                mainContent.classList.toggle('fullwidth');
            }

            hamburgerBtnInside.addEventListener('click', toggleSidebar);
            hamburgerBtnOutside.addEventListener('click', toggleSidebar);
        });
    </script>
</body>
</html>
