{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<!--Required Meta tags-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
  <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
  
  <link rel="shortcut icon" type="images/jpg" href="{% static 'img/icon-logo.jpg' %}">

  {% block title %}
  <title>Spotlight - Admin</title>
  {% endblock %}
</head>
<body>

    <!--Navbar-->

{% include 'pages/partials/navbar.html' %}

<div class="container-fluid nav__top-mb" id="main">
   
    {% include 'pages/partials/sidebar.html' %}

        <div class="col main pt-5 mt-3">
            {% block content %}
            {% endblock %}
        </div>

    </div> 
</div>


    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>

    {% block scripts %}

    {% endblock %}

</body>
</html>