{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/admin/services__create--artists.css' %}">
{% endblock %}

{% block title%}
<title>Spotlight - Create Artists</title>
{% endblock %}

{% block content %}
<div class="top-content">
  <h2 class="top-title">Add Artists:</h2>
  <a class="top-button" href="{% url 'listArtists' %}" role="button">+ List Artists</a>
</div>

<form action="" method="post">

  {% csrf_token %}
  
  {{ form|crispy }}
  <div class="button__container">
    <button class="save__button" type="submit">Save</button>
  </div>
</form>


{% endblock %}