{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load group_tags %}

{% block title%}
<title>Spotlight - List Images</title>
{% endblock %}

{% block content %}
<style>
  .blurred-image {
    filter: blur(8px);
    transition: filter 0.3s ease;
}

.image-checkbox {
    display: none;  /* Checkboxes ocultas até o botão ser clicado */
    width: 20px;
    height: 20px;
}


.image-container {
    position: relative;
}

.selected {
    filter: blur(8px);
}

</style>

{% if request.user.is_superuser or request.user|has_group:"Admin" or request.user|has_group:"Manager" %}
<div class="d-flex justify-content-between">
  <h2 class="mb-4 h5">{{ order }}</h2>
  <button id="select-toggle-btn" class="btn btn-primary mb-3">Click to select</button>
</div>
{% endif %}
<hr>
<br>
<div class="d-flex justify-content-between flex-wrap" style="min-width: 300px;">
  <div class="w-50">
    {% if request.user.is_superuser or request.user|has_group:"Editor" or request.user|has_group:"Admin" or request.user|has_group:"Manager" %}
    {% if order.orderimagegroup_set.exists %}
    <h4>Editor Notes:</h4>
    <div class="border pt-4 pb-4 col-md-6 mb-2">
    {% for group in order.orderimagegroup_set.all %}
      <span class="card-body">{{ group.editor_note }}</span>
    {% endfor %}
    </div>
    {% endif %}
    {% else %}
    {% endif %}
  </div>
</div>
<br>

<div class="container-fluid">
  <div class="row flex-wrap-reverse">
    <div class="col-lg-9 col-md-8 col-12">
      <div class="row">
        {% for image in page_obj %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
            <div class="image-container" style="position: relative;">
                <input type="checkbox" class="image-checkbox" data-image-id="{{ image.id }}" style="position: absolute; top: 10px; left: 10px; display: none;">
                {% if image.selected_for_exclusion %}
                    {% if image.converted_image %}
                        <img src="{{ image.converted_image.url }}" class="img-fluid blurred-image" alt="Converted Image">
                    {% else %}
                        <img src="{{ image.image.url }}" class="img-fluid blurred-image" alt="Original Image">
                    {% endif %}
                {% else %}
                    {% if image.converted_image %}
                        <img src="{{ image.converted_image.url }}" class="img-fluid" alt="Converted Image">
                    {% else %}
                        <img src="{{ image.image.url }}" class="img-fluid" alt="Original Image">
                    {% endif %}
                {% endif %}
                <small>{{ image.image.url|filename }}</small>
            </div>
        </div>
        {% endfor %}
      </div>
      <!-- Controles de Paginação -->
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
          <li class="page-item {% if page_obj.number == num %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <div class="col-lg-3 col-md-4 col-12">
      <div class="card" style="max-width: 335px;">
        <div class="card-body">
          <hr>
          {% if page_obj and page_obj|length > 0 %}
          <p class="card-text">Created date: <b>{{ page_obj.0.uploaded_at }}</b></p>
          <hr>
          <p class="card-text">Total uploaded files: <b>{{ image_count }}</b></p>
          <hr>
          <p class="card-text">Assets to be uploaded: <b>{{ page_obj.0.photos_sent }}</b></p>
          <hr>
          <p class="card-text">Assets to be returned: <b>{{ page_obj.0.photos_returned }}</b></p>
          <hr>
          {% else %}
          <p>No images available.</p>
          {% endif %}
          <a class="btn btn-info btn-block" href="{% url 'userOrders--page' %}">Back to Orders</a>
        </div>
      </div>
      {% if scan_url and scan_url != 'null' %}
        <iframe width='335' height='440' src='{{ scan_url }}' frameborder='0' allowfullscreen allow='xr-spatial-tracking'></iframe>
      {% endif %}
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const selectToggleBtn = document.getElementById('select-toggle-btn');
    const checkboxes = document.querySelectorAll('.image-checkbox');
    let isSelecting = false;

    // Function to enable/disable selection
    function enableSelection() {
      checkboxes.forEach(checkbox => {
        checkbox.style.display = isSelecting ? 'block' : 'none';
      });
    }

    // Toggle checkbox visibility and change button color when "Click to select" is clicked
    selectToggleBtn.addEventListener('click', function() {
      isSelecting = !isSelecting;
      enableSelection();
      selectToggleBtn.innerHTML = isSelecting ? 'Cancel selection' : 'Click to select';
      
      // Toggle button color
      if (isSelecting) {
        selectToggleBtn.classList.remove('btn-primary');  // Remove the default color
        selectToggleBtn.classList.add('btn-danger');      // Add the red color
      } else {
        selectToggleBtn.classList.remove('btn-danger');   // Remove the red color
        selectToggleBtn.classList.add('btn-primary');     // Revert to the original color
      }
    });

    // Handle checkbox and image clicks for selection, but only when in selection mode
    checkboxes.forEach(checkbox => {
      checkbox.addEventListener('change', function() {
        if (!isSelecting) return;  // Block selection if the mode is not activated

        const imageId = this.dataset.imageId;
        const imageContainer = this.closest('.image-container');
        const image = imageContainer.querySelector('img');

        if (this.checked) {
          image.classList.add('blurred-image');
          updateSelection(imageId, true);  // Save selection in the backend
        } else {
          image.classList.remove('blurred-image');
          updateSelection(imageId, false);  // Remove selection in the backend
        }
      });
    });

    // Handle image clicks (selecting the image by clicking the image itself), but only when in selection mode
    document.querySelectorAll('.image-container img').forEach(img => {
      img.addEventListener('click', function() {
        if (!isSelecting) return;  // Block clicks if the mode is not activated

        const checkbox = this.closest('.image-container').querySelector('.image-checkbox');
        checkbox.checked = !checkbox.checked;

        if (checkbox.checked) {
          this.classList.add('blurred-image');
          updateSelection(checkbox.dataset.imageId, true);  // Save selection in the backend
        } else {
          this.classList.remove('blurred-image');
          updateSelection(checkbox.dataset.imageId, false);  // Remove selection in the backend
        }
      });
    });

    // Function to send the selection to the backend via AJAX
    function updateSelection(imageId, selected) {
      fetch(`/toggle-image-selection/${imageId}/`, {  // Using imageId in the URL
        method: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: new URLSearchParams({
          'selected': selected
        })
      })
      .then(response => response.json())
      .then(data => {
        if (data.status !== 'success') {
          console.error('Failed to update selection');
        }
      })
      .catch(error => console.error('Error:', error));
    }

    // Initially disable checkboxes
    enableSelection();
  });
</script>





{% endblock %}