{% extends 'base.html' %}
{% load static %}

{% block title%}
<title>Spotlight - Upload</title>
{% endblock %}

{% block content %}
<style>
    .help-img{
        width: 340px; 
        position: absolute; 
        top: 10%; 
        left: 0;
    }

    @media screen and (min-width:320px) and (max-width:767px){
        .help-img{
            display: none;
        }
    }

    @media screen and (min-width:768px) and (max-width:1439px){
        .help-img{
            min-width: 200px;
            width: 250px;
            max-width: 320px;

        }
    }
    @media screen and (min-width:1660px) and (max-width:2100px){
        .help-img{
            left: 10%;

        }
    }
    @media screen and (min-width:2100px){
        .help-img{
            left: 20%;

        }
    }
</style>

<h2 class="mb-4 h5">Upload Images for {{ order }}</h2>

<img class="help-img" src="{% static 'img/help-img.jpg' %}" alt="">
<form id="uploadForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="d-flex flex-column w-80 mr-auto ml-auto align-items-center" style="max-width: 1200px;">
        <div class="box__input mb-4 align-self-center">
            <input class="fileInput" type="file" accept="*" webkitdirectory directory name="image" multiple data-path>
        </div>

        <!-- Editor Note -->
        <div class="form-group w-50">
            <label for="id_editor_note">Editor Note:</label>
            <textarea class="form-control" name="editor_note" id="id_editor_note" cols="40" rows="3"></textarea>
        </div>

        <!-- Selected Service -->
        <div class="form-group w-50">
            <label for="id_services">Services:</label>
            {{ group_form.services }}
        </div>

        <!-- 3D Scan URL -->
        <div class="form-group w-50">
            <label for="id_scan_url">3D Scan URL (if applicable):</label>
            <input class="form-control" type="url" name="scan_url" placeholder="Enter URL for 3d scan" maxlength="200" id="id_scan_url" disabled="">
        </div>

        <div class="d-flex flex-wrap w-50">
            <!-- Photos Sent -->
            <div class="form-group mr-2">
                <label for="id_photos_sent">Assets to be uploaded:</label>
                <input class="form-control" type="number" name="photos_sent" min="0" required="" id="id_photos_sent">
            </div>

            <!-- Photos Returned -->
            <div class="form-group">
                <label for="id_photos_returned">Assets to be returned:</label>
                <input class="form-control" type="number" name="photos_returned" min="0" id="id_photos_returned">
            </div>
        </div>

        <div class="d-flex justify-content-between w-50">
            <a class="btn btn-info" href="{% url 'userOrders--page' %}">Back to Orders</a>
            <button class="btn btn-success" type="submit">Upload</button>
        </div>
    </div>
</form>

<div id="progressCard" class="progress-card" style="display:none;">
    <div class="progress-header">
        <strong>Progress</strong>
    </div>
    <div class="progress-details">
        <p id="fileName">File: </p>
    </div>
    <div class="progress">
        <div id="progressBar" class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress-footer">
        <p id="progressPercent" class="text-center">0% Complete</p>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function () {
    var servicesField = document.getElementById('id_services');
    var fileInput = document.querySelector('.fileInput');  // Campo "Choose Files"
    var scanUrlField = document.getElementById('id_scan_url');
    var assetsUploadedField = document.getElementById('id_photos_sent');  // Campo "Assets to be uploaded"
    var uploadForm = document.getElementById('uploadForm');
    var progressCard = document.getElementById('progressCard');
    var progressBar = document.getElementById('progressBar');
    var fileNameElement = document.getElementById('fileName');
    var progressPercent = document.getElementById('progressPercent');
    var retryLimit = 5;
    var baseTimeout = 60000; // 60-second timeout

    function updateFields() {
        var selectedServices = Array.from(servicesField.querySelectorAll('input[type="checkbox"]:checked'))
            .map(checkbox => checkbox.value);

        // Habilitar/desabilitar campo "Choose Files"
        if (selectedServices.length === 0 || (selectedServices.includes('3d scan') && selectedServices.length === 1)) {
            fileInput.disabled = true;
            assetsUploadedField.required = false;  // Não requerido se somente "3D Scan" for selecionado
        } else {
            fileInput.disabled = false;
            assetsUploadedField.required = true;  // Requerido se outros serviços forem selecionados
        }

        // Habilitar/desabilitar campo de URL do 3D Scan
        if (selectedServices.includes('3d scan')) {
            scanUrlField.disabled = false;
        } else {
            scanUrlField.disabled = true;
            scanUrlField.value = '';
        }
    }

    servicesField.addEventListener('change', updateFields);
    updateFields();  // Inicializa a função quando a página carrega

    uploadForm.onsubmit = async function (event) {
        event.preventDefault();
        var formData = new FormData(uploadForm);
        var files = document.querySelector('.fileInput').files;
        var selectedServices = Array.from(servicesField.querySelectorAll('input[type="checkbox"]:checked'))
            .map(checkbox => checkbox.value);

        // Se o serviço "3D Scan" for o único selecionado, o upload de arquivos não é necessário
        if (selectedServices.includes('3d scan') && selectedServices.length === 1) {
            if (scanUrlField.value === "") {
                alert('Please provide a valid 3D scan URL.');
                return;
            }
        } else {
            // Verifica se há arquivos selecionados quando outros serviços são selecionados
            if (files.length === 0) {
                alert('No files were selected.');
                return;
            }
        }

        progressCard.style.display = 'block';

        uploadForm.querySelectorAll('input, button, textarea').forEach(function (element) {
            element.disabled = true;
        });

        try {
            if (selectedServices.includes('3d scan') && selectedServices.length === 1) {
                // Envia o formulário sem arquivos (apenas com o 3D Scan URL)
                formData.append('scan_url', scanUrlField.value);
                await uploadFileWithRetries(null, formData, uploadForm.action);
            } else {
                for (let file of files) {
                    let relativePath = file.webkitRelativePath 
                        ? file.webkitRelativePath.replace(file.name, '') 
                        : '';  // Exclui o nome do arquivo do caminho relativo
                    formData.append('relative_path', relativePath);
                    await uploadFileWithRetries(file, formData, uploadForm.action);
                    formData.delete('relative_path');  // Limpa após cada arquivo
                }
            }
            window.location.href = "{% url 'userOrders--page' %}";
        } catch (error) {
            alert(error.message || 'Error during upload.');
        } finally {
            progressCard.style.display = 'none';

            uploadForm.querySelectorAll('input, button, textarea').forEach(function (element) {
                element.disabled = false;
            });
        }
    };

    async function uploadFileWithRetries(file, formData, actionUrl, retries = 0) {
        try {
            await uploadFileAsync(file, formData, actionUrl);
        } catch (error) {
            if (retries < retryLimit) {
                const delay = Math.pow(2, retries) * 1000; // Exponential backoff
                await new Promise(resolve => setTimeout(resolve, delay));
                return uploadFileWithRetries(file, formData, actionUrl, retries + 1);
            } else {
                throw error;
            }
        }
    }

    async function uploadFileAsync(file, formData, actionUrl) {
        return new Promise((resolve, reject) => {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', actionUrl, true);
            xhr.timeout = baseTimeout + (file ? (file.size / (1024 * 1024)) * 1000 : 0); // Timeout adaptável para arquivos

            if (file) {
                xhr.upload.onprogress = function (event) {
                    if (event.lengthComputable) {
                        var percentComplete = Math.round((event.loaded / event.total) * 100);
                        progressBar.style.width = percentComplete + '%';
                        progressBar.setAttribute('aria-valuenow', percentComplete);
                        progressPercent.textContent = percentComplete + '% Complete';
                    }
                };
            }

            xhr.onloadstart = function () {
                fileNameElement.textContent = file ? 'File: ' + file.name : '';
                progressBar.style.width = '0%';
                progressPercent.textContent = '0% Complete';
            };

            xhr.onload = function () {
                if (xhr.status === 200) {
                    resolve();
                } else {
                    reject(new Error('Error during upload.'));
                }
            };

            xhr.onerror = function () {
                reject(new Error('Upload failed.'));
            };

            xhr.ontimeout = function () {
                reject(new Error('Upload timed out.'));
            };

            var uploadData = new FormData();
            uploadData.append('csrfmiddlewaretoken', formData.get('csrfmiddlewaretoken'));
            uploadData.append('image', file);
            uploadData.append('editor_note', formData.get('editor_note'));
            uploadData.append('services', formData.get('services'));
            uploadData.append('scan_url', formData.get('scan_url'));
            uploadData.append('photos_sent', formData.get('photos_sent'));
            uploadData.append('photos_returned', formData.get('photos_returned'));
            uploadData.append('relative_path', formData.get('relative_path')); // Include the relative path

            xhr.send(uploadData);
        });
    }
});
</script>


{% endblock %}