*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: 'Arial', sans-serif;
}

/*image section*/
.main__image--container{
  display: none;
}
/*end image section*/

/*login section*/
.main__login--container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  padding-top: 4rem;
}

.main__login--image{
  align-self: center;
  width: 80%;
}

.main__login--form{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.main__login--title{
  font-size: 2rem;
  padding-bottom: 1.4rem;
}

.form__input--email, .form__input--password{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  & label{
    font-size: 1.4rem;
  }

  & input{
    width: 100%;
    height: 35px;
    border-radius: 0.5rem;
    border: 2px solid #E8E8E8;
    padding: 0.5rem;
  }
}

.login__button{
  color: #E8E8E8;
  font-weight: bold;
  background-color: #04C35C;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
/*end login section*/

/*responsive*/

@media (min-width:768px){
  .main__login--image{
    width: 50%;
  }

  .main__login--form{
    width: 60%;
  }
}

@media(min-width:1024px){
  #main{
    display: flex;
  }

  /*image section*/
  .main__image--container{
    display: block;
  }

  .main__image--container, .main__login--container{
    height: 100vh;
    width: 50vw;
  }
  .main__image--content{
    height: 100vh;
    background-color: #F7FAFC;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  .main__image--img{
    width: 100%;
    height: 90%;
    border-radius: 1rem;
  }
/*end image section*/

/*login section*/
  .main__login--image{
    width: 50%;
  }

  .main__login--form{
    width: 50%;
  }
}

@media(min-width:1440px){
  .main__login--image, .main__login--form{
    width: 40%;
  }
  
}

@media(min-width:2560px){
 .main__login--container{
    gap: 10rem;
  }
  .main__login--image{
    width: 50%;  
  }
  .main__login--form{
    width: 30%;
  }
  
}