{% extends 'admin/base.html' %}
{% load static %}

{% block title %}Spotlight Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
  <img  src="{% static 'img/icon-logo.jpg' %}" alt="" class="brand_img" height="40" width="40">
  SPOTLIGHT
</h1>
{% endblock %}

{% block extrastyle %}
  <link rel="shortcut icon" type="images/jpg" href="{% static 'img/icon-logo.jpg' %}">
  <link rel="stylesheet" href="{% static 'css/dashboardAdmin.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

{% block usertools %}
<div id="navBar">
  <ul class="d-flex flex-row navbar-nav ml-auto">
    <li class="nav-item mr-2">
      <a class="nav-link text-body" href="{% url 'listUsers' %}">Back to Dashboard</a>
    </li>
      <button class="theme-toggle">
        <div class="visually-hidden theme-label-when-auto">Toggle theme (current theme: auto)</div>
        <div class="visually-hidden theme-label-when-light">Toggle theme (current theme: light)</div>
        <div class="visually-hidden theme-label-when-dark">Toggle theme (current theme: dark)</div>
        <svg aria-hidden="true" class="theme-icon-when-auto">
          <use xlink:href="#icon-auto"></use>
        </svg>
        <svg aria-hidden="true" class="theme-icon-when-dark">
          <use xlink:href="#icon-moon"></use>
        </svg>
        <svg aria-hidden="true" class="theme-icon-when-light">
          <use xlink:href="#icon-sun"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
{% endblock %}