{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/admin/services__list--orders.css' %}">
{% endblock %}

{% block title%}
<title>Spotlight - List Orders</title>
{% endblock %}

{% block content %}
<div class="top-content">
  <h2 class="top-title">List Orders:</h2>
  <a class="top-button" href="{% url 'create_orders' %}" role="button">+ Create Orders</a>
</div>

<form class="form__search--orders" action="" method="post">
  <input type="search" name="search" id="search" placeholder="search">
</form>

<div class="table__container">
  <table class="artist__card">
    <tr class="card--titles">
      <th>Date</th>
      <th>Time</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr class="card--items">
      <td>20/10/2004</td>
      <td>3 PM</td>
      <td>3333 Street left</td>
      <td>3333 Street right</td>
      <td>San Francisco</td>
      <td>CA</td>
      <td>9999-999</td>
      <td>
        <a class="btn_list--orders btn-notUpload">Not Uploaded</a>
      </td>
      <td class="btn__table">
        <a class="btn_list--orders edit__button">Edit</a>
        <a class="btn_list--orders delete__button">Delete</a>
        <a class="btn_list--orders view__button">View</a>
      </td>
    </tr>
    <tr>
      <th>Services:</th>
      <td colspan="8">
        <p>3d scan; videos; photos</p></td>
    </tr>
    <table>
</div>
{% endblock %}