{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="/static/css/admin/services__delete--orders.css">
{% endblock %}

{% block title%}
<title>Spotlight - Delete Order</title>
{% endblock %}

{% block content %}
<div class="top-content">
  <h2 class="top-title">Delete Order:</h2>
</div>

<form action="" method="POST">

  <p style="margin-top: 20px;">
      Deseja excluir o registro: <strong>{{ object }}</strong>?
  </p>

  {% csrf_token %}

  {{ form.as_p }}

  <button style="margin-top: 40px;" type="submit" class="btn_list--orders delete__button">Delete</button>

</form>
{% endblock %}