{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/admin/services__list--artists.css' %}">
{% endblock %}

{% block title%}
<title>Spotlight - List Artists</title>
{% endblock %}

{% block content %}
<div class="top-content">
  <h2 class="top-title">List Artists:</h2>
  <a class="top-button" href="{% url 'create_artists' %}" role="button">+ Create Artists</a>
</div>

<form class="form__search--lists" action="" method="post">
  <input type="search" name="search" id="search" placeholder="search">
</form>

<div class="table__container">
  <table class="artist__card">
    <tr class="card--titles">
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th>Emergency Phone</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Action</th>
    </tr>
    <tr class="card--items">
      <td>Lucas</td>
      <td>Gervasoni</td>
      <td>user@mail.com</td>
      <td>xxxxx-xxx</td>
      <td>xxxxx-xxx</td>
      <td>3333 Street left</td>
      <td>3333 Street right</td>
      <td>San Francisco</td>
      <td>CA</td>
      <td>xxxxx-xxx</td>
      <td class="btn__table">
        <button class="btn_list--artist edit__button">Edit</button>
        <button class="btn_list--artist delete__button">Delete</button>
      </td>
    </tr>
    <table>
</div>

{% endblock %}