{% extends 'base.html' %}
{% load static %}


{% block title%}
<title>Spotlight - List Images</title>
{% endblock %}

{% block content %}
<h2 class="mb-4 h5">{{ order }}</h2>
<hr>
<br>
<div class="d-flex justify-content-between flex-wrap" style="min-width: 300px;">
  <div class="w-50" >
  {% if images %}
  <h4>Editor Notes:</h4>
  <p>{{ images.0.editor_note }}</p>
  {% endif %}
  </div>
  <a class="btn btn-info align-self-start" href="{% url 'userOrders--page' %}">Back to Orders</a>
</div>
<br>
  <div class="d-flex flex-wrap-reverse">
    <div class="w-100">
      <div class="d-flex flex-wrap">
        {% for image in images %}
        <figure class="figure mr-4 mt-4 mb-4" style="width: 18rem;">
          <img src="{{ image.image.url }}" class="figure-img img-fluid rounded">
          <small>{{ image.image}}</small>
        </figure>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
