{% extends 'base.html' %}
{% load static %}


{% block title%}
<title>Spotlight - List Images</title>
{% endblock %}

{% block content %}
<h2 class="mb-4 h5">{{ order }}</h2>
<hr>
<br>
<div class="w-50" style="min-width: 300px;">
  <h4>Editor Notes:</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos maiores ipsam totam beatae fugit temporibus mollitia suscipit voluptate fuga aliquid, illum nisi neque dolorem obcaecati reiciendis tempora saepe iusto optio!</p>
</div>
<br>
  <div class="d-flex flex-wrap-reverse">
    <div class="w-100">
      <div class="d-flex flex-wrap">
        {% for image in images %}
        <figure class="figure mr-4 mt-2" style="width: 18rem;">
          <img src="{{ image.image.url }}" class="figure-img img-fluid rounded" style="height: 100%;">
        </figure>
        {% endfor %}
      </div>
      <div>
        <a href="{% url 'order_image_upload' order.id %}">Upload More Images</a>
      </div>
    </div>
  </div>
{% endblock %}
