{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load group_tags %}


{% block title%}
<title>Spotlight - List Images</title>
{% endblock %}

{% block content %}
<h2 class="mb-4 h5">{{ order }}</h2>
<hr>
<br>
<div class="d-flex justify-content-between flex-wrap" style="min-width: 300px;">
  <div class="w-50" >
    {% if request.user.is_superuser or request.user|has_group:"Editor"%}
        {% if images %}
        <h4>Editor Notes:</h4>
        <p>{{ images.0.editor_note }}</p>
        {% endif %}
    {% else %}
    {% endif %}
  </div>
</div>
<br>

  <div class="container-fluid">
    <div class="row flex-wrap-reverse">
        <div class="col-lg-9 col-md-8 col-12">
            <div class="row">
                {% for image in images %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                    <img src="{{ image.image.url }}" class="img-fluid" alt="Image 1">
                    <small>{{ image.image.url|filename }}</small>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
            <div class="card">
                <div class="card-body">
                    <hr>
                    {% if images %}
                    <p class="card-text">Created date: <b>{{ images.0.uploaded_at }}</b></p>
                    <hr>
                    <p class="card-text">Total uploaded files: <b>{{ image_count }}</b></p>
                    <hr>
                    <p class="card-text">Assets to be uploaded: <b>{{ images.0.photos_sent }}</b></p>
                    <hr>
                    <p class="card-text">Assets to be returned: <b>{{ images.0.photos_returned }}</b></p>
                    <hr>
                    {% endif %}
                    <a class="btn btn-info btn-block" href="{% url 'userOrders--page' %}">Back to Orders</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
