{% extends 'base.html' %}
{% load static %}


{% block title%}
<title>Spotlight - Upload</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="py-5 text-center text-white">
   <form class="d-flex flex-column align-center justify-content-center" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-success align-self-center mt-4 w-25 ">Submit</button>
   </form>
  </div>
 </div>

{% endblock %}