{% extends 'base.html' %}
{% load static %}

{% block title%}
<title>Spotlight - Upload</title>
{% endblock %}

{% block content %}
<h2 class="mb-4 h5">Upload Images for {{ order }}</h2>
<form id="uploadForm"  action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="box__input mb-4">
    <input class="fileInput" type="file" name="image" multiple>
  </div>
  <div class="d-flex flex-column mb-2">
    <label for="id_editor_note"><strong>Instructions for Editors:<strong></label>
    <textarea class="w-25 rounded" name="editor_note" id="id_editor_note"></textarea>
  </div>
  <a class="btn btn-info align-self-start" href="{% url 'userOrders--page' %}">Back to Orders</a>
  <button class="btn btn-success" type="submit">Upload</button>
</form>

<!-- Spinner element -->
<div class="d-flex justify-content-center" style="position: absolute; top: 50%; left: 50%;">
  <div id="loadingSpinner" class="spinner-border loader" style="display: none;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<script>
  document.getElementById('uploadForm').onsubmit = function() {
    document.getElementById('loadingSpinner').style.display = 'block';
    document.querySelector('button[type="submit"]').disabled = true;
  };
</script>

<br>
{% endblock %}