h1#site-name{
  font-weight: bold;
  color: #343a40 !important;
}

header#header{
  background-color: #f8f9fa !important;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  color: black !important;
}

header#header a:link, header#header a:visited, button,div.breadcrumbs, div.breadcrumbs a:link, div.breadcrumbs a:visited{
  color: black !important;
}

header#header button.theme-toggle{
  display: none;
}

.app-main_crud caption, .app-auth caption, .app-pictures caption, .app-users caption, div.breadcrumbs{
  background-color: #f8f8f8 !important;
} 
.app-main_crud caption a, .app-auth caption a, .app-pictures caption a, .app-users caption a{
  color: #666 !important;
} 
