@import url("/static/css/base.css");

.top-content {
  display: flex;
  justify-content: space-between;
}

.top-button {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}

.top-button:hover {
  text-decoration: none;
  color: #fff;
}

.form__create--artists {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 80%;
  margin: 4rem auto 0;
}

.form__input--email,
.form__input--password,
.form__input--firstName,
.form__input--lastName,
.form__input--phone,
.form__input--emergencyPhone,
.form__input--address,
.form__input--address2,
.form__input--zipcode,
.form__input--city,
.form__input--state {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30rem;

  & label {
    font-size: 1.4rem;
  }

  & input {
    width: 100%;
    height: 35px;
    border-radius: 0.5rem;
    border: 2px solid #e8e8e8;
    padding: 0.5rem;
  }
}

.save__button {
  width: 40rem;
  color: #e8e8e8;
  font-weight: bold;
  background-color: #04c35c;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.button__container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
