{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/admin/services.css' %}">
{% endblock %}

{% block title%}
<title>Spotlight - services</title>
{% endblock %}


{% block content %}
<h2>Create:</h2>
<div class="buttons__container">
  <a role="button" href="{% url 'create_orders' %}" class="button">Orders</a>
  <a role="button" href="{% url 'create_artists' %}" class="button">Artists</a>
  <a role="button" href="#" class="button">Clients</a>
</div>
{% endblock %}