{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/user/user__orders--page.css' %}">
{% endblock %}

{% block title%}
<title>Spotlight - Orders</title>
{% endblock %}

{% block content %}
<div class="top-content">
  <h2 class="top-title">Orders:</h2>
</div>

<div class="table__container">
  {% for order in object_list %}
  <table class="artist__card mg-top">
    <tr class="card--titles">
      <th>User</th>
      <th>Date</th>
      <th>Time</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr class="card--items">
      <td>{{ order.user }}</td>
      <td>{{ order.date }}</td>
      <td>{{ order.time }}</td>
      <td>{{ order.addressOne }}</td>
      <td>{{ order.addressTwo }}</td>
      <td>{{ order.zipCode }}</td>
      <td>{{ order.city }}</td>
      <td>{{ order.state }}</td>
      <td>
        <a class="btn_list--orders btn-notUpload">Not Uploaded</a>
      </td>
      <td class="btn__table">
        <a href="{% url 'user__upload--page' %}" class="btn_list--orders view__button">Upload</a>
      </td>
    </tr>
    <tr>
      <th>Services:</th>
      <td colspan="9">
        <p>{{ order.services }}</p></td>
    </tr>
    <table>
    {% endfor %}
</div>
{% endblock %}