{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Spotlight - Orders</title>
{% endblock %}

{% block content %}
  <h2 class="mt-4 mb-4">Your Orders:</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th scope="col">Photographer</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Address 1</th>
        <th scope="col">Address 2</th>
        <th scope="col">Zip code</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Action</th>
      </tr>
      <tr>
        {% for order in object_list %}
        <td>{{ order.user }}</td>
        <td>{{ order.date }}</td>
        <td>{{ order.time }}</td>
        <td>{{ order.addressOne }}</td>
        <td>{{ order.addressTwo }}</td>
        <td>{{ order.zipCode }}</td>
        <td>{{ order.city }}</td>
        <td>{{ order.state }}</td>
        <td class="d-flex align-items-center justify-content-center">
          <a href="{% url 'listImages' %}" class="flex align-items-center mr-2"><svg width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 60.7 28.7 32 64 32l384 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6l96 0 32 0 208 0c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg><p class="d-none"></p></a>
          <a onclick="info('listInfo')" class="btn btn-outline-info" id="view">View</a>
          {% if not request.user.is_superuser %}
          <a href="{% url 'upload' %}" class="btn btn-outline-secondary ml-2">Upload</a>
          {% endif %}
        </td>
      </tr>
      <tr class="d-none" id="listInfo">
        <td colspan="2">
          <p class="text-capitalize"><strong>Client:</strong> Admin</p>
        </td>
        <td colspan="2">
          <p class="text-capitalize"><strong>Services:</strong>  {{ order.services }}</p>
        </td>
        <td colspan="2">
          <a class="btn btn-light statusBtn"><strong>Status:</strong> {{ order.order_status }}</a>
        </td>
        <td colspan="3">
          {% if request.user.is_superuser %}
          <a href="#" class="btn btn-outline-dark disabled">Download</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </table>
  </div>

{% endblock %}
