{% load static %}

<nav class="navbar fixed-top navbar-expand-md bg-light mb-3 shadow">
  <a class="navbar-brand font-weight-bold text-dark" href="#">
    <img src="{% static 'img/icon-logo.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    SPOTLIGHT
  </a>
  <div class="navbar-collapse">
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link text-dark" href="">Welcome, {{ request.user }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'userOrders--page' %}">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'services' %}">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'logout' %}">Logout <i class="fa-regular fa-share-from-square"></i></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'login' %}">Login </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>