{% load static %}

<div class="row ">
  <div class="nav__aside-height vh-100 col-md-3 col-lg-2 pl-0 bg-light" id="sidebar" role="navigation">
      <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
          <li class="nav-item h6 ml-3 mb-2 mt-2">Dashboard</li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'services' %}">Home</a></li>
          <li class="nav-item h6 ml-3 mt-2">Orders</li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'createOrders' %}">Create Orders</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'listOrders' %}">List Orders</a></li>
          <li class="nav-item h6 ml-3 mt-2">Photographer</li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'register' %}">Create Photographer Profile</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'listArtists' %}">List Photographers</a></li>
          <!-- <li class="nav-item"><a class="nav-link text-dark" href="{% url 'userOrders--page' %}">User Page Orders</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'user__upload--page' %}">User Page Upload</a></li> -->
      </ul>
  </div>