{% load static %}

<div class="row ">
  <div class="nav__aside-height vh-100 col-md-3 col-lg-2 pl-0 bg-light" id="sidebar" role="navigation">
      <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
          <li class="nav-item h6 ml-3 mb-2"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'services' %}">Home</a></li>
          <li class="nav-item h6 ml-3"><i class="fa-regular fa-folder"></i> Orders</li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'createOrders' %}">Create Orders</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'listOrders' %}">List Orders</a></li>
          <li class="nav-item h6 ml-3 mt-2"><i class="fa-regular fa-user"></i> Artists</li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'create__artists' %}">Create Artists</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'register' %}">Create Artists Login</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'listArtists' %}">List Artists</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'userOrders--page' %}">User Page Orders</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="{% url 'user__upload--page' %}">User Page Upload</a></li>
      </ul>
  </div>